<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
<main class="cart-container">
    <h1 class="cart-title">Your Cart</h1>
    <% if(cart.length > 0) { %>
        <ul class="cart-list">
            <% cart.forEach(p => { %>
                <li class="cart-item">
                    <p class="cart-item-title"><%= p.title %> (<%= p.cartItem.quantity %>)</p> <!-- Changed from p.quality to p.quantity -->
                    <form action="/delete-cart-item" method="POST" class="delete-form">
                        <input type="hidden" name="id" value="<%= p.id %>">
                        <button type="submit" class="delete-button">Delete</button>
                    </form>
                </li>
            <% }) %>
        </ul>
        <form action="/create-order" method="POST">
            <button type="submit" class="delete-form">Order Now!</button>
        </form>
    <% } else { %>
        <span class="empty-cart-message">No Products In Cart</span>
    <% } %>
</main>
<%- include('../includes/end.ejs') %>
