<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
<link rel="stylesheet" href="/css/style/order.css">

<main class="orders-container">
    <h1 class="orders-title">Your Orders</h1>
    <% if (orders && orders.length > 0) { %>
        <ul class="orders-list">
            <% orders.forEach(order => { %>
                <li class="order-item">
                    <h2 class="order-id">Order #<%= order.id %></h2>
                    <ul class="order-products">
                        <% order.products.forEach(item => { %>
                            <li class="product-item">
                                <span class="product-title"><%= item.title %></span>
                                <span class="product-quantity">(<%= item.orderItem.quantity %>)</span>
                                <form action="/delete-order" method="POST" class="delete-form">
                                        <input type="hidden" name="id" value="<%= order.id %>">
                                        <button type="submit" class="delete-button">Delete</button>
                                </form>
                            </li>
                        <% }) %>
                    </ul>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <h2 class="no-orders">No orders found.</h2>
    <% } %>
</main>
<%- include('../includes/end.ejs') %>
