<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
<link rel="stylesheet" href="/css/style/product-details.css">
</head>
<body>
<main>
    <h1><%= prods.title %></h1>
    <img src="<%= prods.imgUrl %>" alt="Product Image">
    <p><%= prods.description %></p>
    <span class="product_price">$<%= prods.price %></span>
    <%- include('../includes/addToCart.ejs', { product: prods }) %>

</main>
<%- include('../includes/end.ejs') %>
